<div class="center jumbotron">
  <h4>Bate Papo</h4>
   <%= render 'layouts/header_home' %>

<br>
    <h3><span id="chat"></span></h3></br>
<hr>
    Message:
<br>
    <textarea id="msg" rows="5"></textarea>
<hr>
    <button id="send">Send Message</button>

<script>
  $(document).ready(function(){
    /* RECEIVE MESSAGE */
    App.chat.received = function(data)
    {
      $("#chat").append(data['message']+"<br>")
    }
    
    $("#send").click(function(){
      msg = $("#msg").val()
      
      /* SEND MESSAGE */
      App.chat.send_msg(msg)
    })
  })
</script>