<h1>Conheça o nosso acervo</h1>
<%= render 'layouts/header_home' %>
<div class="container">
  <% @books.each_slice(3) do |books| %>
    <div class="row">
      <% books.each do |book| %>
        <div class="col-md-4">  
          <%= image_tag book.picture.url %>
          <h3>Título: <%= book.title %></h3></color>

          <% if book.disponivel == true %>
            <h3>Disponivel</h3></br></br>
          <% else %>
            <h3>Emprestado</h3>
          <% end %>
        </div>
      <% end%>
    </div>
  <% end%>
   <%= will_paginate @books %> 
</div>