<div class="center jumbotron">
  <h1>Welcome Bibliolivre</h1>

   <%= render 'layouts/header_home' %>
   
   <table class="table">
  
   <% @books.each do |book| %>
  <tr>
    <th><%= image_tag book.picture.url %></th>
  </tr>

  <tr>
    <th><h3>Título: <%= book.title %></h3></th>
  </tr>
  
  <tr>  
    <th><h3>Disponivel: <%= book.disponivel %></h3></th>
  </tr>
<% end %>
</table>



