<div class="center jumbotron">
  <h3>Emprestimos</h3>

  <%= render 'layouts/header_librarier' %>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Livro</th>
      <th scope="col">Aluno</th>
    </tr>
  </thead>

<% @loans.each do |loan| %>
  <tr>
    <th scope="col"><%= loan.book.title %></th>
    <th scope="col"><%= loan.student.name %></th>
    <th><%= link_to "Delete", loan, method: :delete,
                                  data: { confirm: "You sure?" } %></th>
  </tr>
<% end %>
</table>

<br>

