<!DOCTYPE html>
<html>
   <head>
   </head>

   <body>
      <h1>Welcome <%= @student.name %></h1>

      <p>
        Você está cadastrado no sistema da biblioteca, porém terá que cumprir algumas regras
      </p>

      <ul>
        <li>A cada emprestimo realizado você terá 7 dias de posse</li>
        <li>Caso o livro seja danificado o aluno terá que repor o livro danificado</li>
      </ul>
   </body>
</html>
