<% provide(:title, 'Cadastro de Devolucoes') %>
<% provide(:button_text, 'Salvar') %>
<h1>Devolucao</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'shared/notification' %>
    <%= render 'form' %>
  </div>
</div>
