<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bibliolivre", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Admins", adm_path %></li>
        <li><%= link_to "Area Livre", root_path %></li>
        <li><%= link_to "Bibliotecarios", lib_path %></li>
       </ul>
    </nav>
  </div>
</header>
